h1 {
    color:darkslategrey;
}
.yellow-border {
    border:2px solid yellow;
}
#lightgrey-background {
    background-color:lightgrey;
}

.white-background {
    background-color:white;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}